.catalog-sort {
  border: none;
  outline: none;
}

.type-filter-head {
  gap: 11px;
}
@media only screen and (max-width: 1200px) {
  .type-filter-head {
    flex-wrap: wrap;
    justify-content: start;
  }
}
.type-filter-head__item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: white;
  box-shadow: 0 15px 70px -11px rgba(43, 28, 1, 0.04);
  border-radius: 10px;
  text-align: center;
  color: #3F4E65;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  cursor: pointer;
}
.type-filter-head__item:hover {
  background-color: #EFA72D;
}
.type-filter-head__item.active {
  background-color: #EE9300;
}

.filter-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #111111;
}

input.range {
  max-width: 100px;
  background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
  border-radius: 1000px;
  border: none;
  outline: none;
  text-align: center;
  color: #3F4E65;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.25;
  padding: 4px 0;
}

@media only screen and (max-width: 960px) {
  .catalog .catalog-content {
    flex-direction: column;
  }
}
.catalog .catalog-content .catalog-sidebar {
  width: 240px;
}
@media only screen and (max-width: 960px) {
  .catalog .catalog-content .catalog-sidebar {
    width: 290px;
  }
}
.catalog .catalog-content .catalog-sidebar .catalog-filter .filter-manufacture {
  margin-top: 30px;
}
.catalog .catalog-content .catalog-sidebar .catalog-filter .filter-manufacture .input-search {
  margin-top: 15px;
}
.catalog .catalog-content .catalog-sidebar .catalog-filter .filter-type-sb li:hover {
  color: #EFA72D;
}
.catalog .catalog-content .catalog-sidebar .catalog-filter .filter-type-sb li.active {
  color: #EE9300;
}
.catalog .catalog-content .catalog-products {
  margin-left: 108px;
  max-width: 1020px;
}
@media only screen and (max-width: 960px) {
  .catalog .catalog-content .catalog-products {
    margin-left: 0;
    justify-content: center;
  }
}
.catalog .catalog-content .catalog-products .products-list {
  gap: 21px;
}
@media only screen and (max-width: 960px) {
  .catalog .catalog-content .catalog-products .products-list {
    justify-content: center;
  }
}
.catalog .catalog-content .catalog-products .products-list .product {
  width: 326px;
  background: white;
  box-shadow: 0 14px 39px -11px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  padding: 0 21px 29px 23px;
}
.catalog .catalog-content .catalog-products .products-list .product__img {
  height: 240px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.catalog .catalog-content .catalog-products .products-list .product .btn {
  letter-spacing: 0.15em;
}
.catalog .catalog-content .catalog-products .next, .catalog .catalog-content .catalog-products .prev {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  cursor: pointer;
}
.catalog .catalog-content .catalog-products .pag-empty {
  height: 35px;
  width: 35px;
}
.catalog .catalog-content .catalog-products .pagination li {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3F4E65;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  height: 35px;
  width: 35px;
  cursor: pointer;
}
.catalog .catalog-content .catalog-products .pagination li.active, .catalog .catalog-content .catalog-products .pagination li:hover {
  background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
  border-radius: 1000px;
}
.catalog .catalog-content .catalog-products .category-desc {
  max-width: 910px;
  margin-bottom: 200px;
  color: #3F4E65;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
}

/*# sourceMappingURL=catalog.css.map */
